/*
Travis Pechota
Project 2
VFW 1304
*/


*{margin: 0; padding: 0;border: 0;}

body {
	background: #DCFFE6;
	width: 360px;
	margin: 25px auto;
	font-family: Arial;
	line-height: 1.4em;
}

h1{
	border-bottom: 1px solid gray;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

h2{
	font-style: italic;
	margin-top: 15px;
	color: green;
}



label{
	display: block;
}

input[type="text"], input[type="date"], select{
	border: 1px solid black;
	padding: 5px;
	width: 200px;
	margin-bottom: 25px;
}

input[type="checkbox"]{
	margin-bottom: 25px;
}


input[type="button"]{
	padding: 5px;
	background: gray;
	color: #fff;
	border: 1px solid black;
}

input[type="checkbox"] + label, input[type="radio"] + label{display: inline;}

textarea{width: 250px; height: 150px;border: 1px solid black;};

button{font-size:1.4em;display:block;border-radius:5px;padding: 15px; color:#fff; margin:0;}

button:hover{background:green;}

fieldset{padding:25px 0 0 0;}
